*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
}

body::after {
    content: "";
    background: url(download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    
    z-index: -1;
}
.navbar {
}
ul {
    position: relative;
    display: flex;
    list-style: none;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    background-color: rgb(213, 213, 241);
    opacity: 0.6;
    top: 90px;
    margin-left: 200px;
    margin-right: 500px;
}
ul li {
    
    padding: 20px 20px 10px 10px;
}
ul li a {
    padding: 20px;
    color: rgb(22, 22, 150);
    text-decoration: none;
}
ul li a:hover{
    background-color: rgb(240, 198, 248);
}
.container {
  background-color: rgb(213, 213, 241);
  opacity: 0.5;
  border: 2px solid whitesmoke;
  height: 60vh;
  margin: 70px 500px 0 200px;
  padding-left: 40px;
  padding-top: 60px;
  border-radius: 50px;
}

.btn {
  font-family: "Roboto Slab", serif;
  margin: 10px 10px;
  border: 2px solid whitesmoke;
  background-color: rgb(213, 213, 241);
  color: rgb(38, 38, 243);
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}
.btn:hover {
  background-color: rgb(192, 192, 245);
}

footer {
  display: table-cell;
  color: rgb(20, 35, 243);
  padding: 10px 10px;
  vertical-align: bottom;
}
